# config.py

TELEGRAM_TOKEN = ''   # Вставьте токен вашего бота
ADMIN_USER_TELEGRAM_ID = ''  # Замените на ваш Telegram ID для проверки администратора

DB_NAME = ''  # Имя базы данных SQLite
DB_PATH = '' # Путь до базы данных